{% extends "simple/base.html" %}
{% block content %}
<div class="box donation-page">
  <h1>Support PrivAU</h1>
  <p>
    Donations go only toward covering operational costs and improving the service.
  </p>
  <p>
    PrivAU runs across four continents, the costs of which I cover at a pretty steep loss. I maintain custom patches, extra themes, and my own IP pool for better search quality. Your support can help keep that running.
  </p>
  <p>
    For contributions of $20 or more, you will receive access to the private instance, which runs on a separate IP pool and thus is less likely to be blocked by search engines.
  </p>

  <p class="donation-link">
    <a class="link" href="https://ko-fi.com/privau">ko-fi.com/privau</a>
  </p>
</div>
{% endblock %}
