{% extends "simple/base.html" %}

{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="{{ captcha_wait }};url={{ captcha_url }}">
{% endblock %}

{% block content %}
<div class="captcha-check">
    <div class="captcha-check-box">
        <p class="content">&#67;&#104;&#101;&#99;&#107;&#105;&#110;&#103;&#32;&#121;&#111;&#117;&#114;&#32;&#98;&#114;&#111;&#119;&#115;&#101;&#114;&#46;&#46;&#46;</p>
        <div class="captcha-check-bar">
            <div class="captcha-check-fill"></div>
        </div>
    </div>
</div>
{% endblock %}